.grid {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.grid label {
    padding-right: 20px;
}

.tip {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: right;
}